<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PocTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>843ACE9F1CE1DC54003DAF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843ACEDA1CE1DC55003DAF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>843ACEE51CE1DC55003DAF5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
